<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Member List</title>
</head>
<body>
<a type="button" th:href="@{/}" class="btn btn-info" style="position: fixed;
                top: 40%;
                left: 52%;
                color: white;">Main page</a>
<div>
    <label>
        <select onchange="onEvent(this.value)" style="position: fixed; width: 11%; height: 38px;
                top: 40%;
                left:40%;">
            <option th:selected="유저선택" class="btn btn-secondary dropdown-toggle" >Member를 선택해 주세요.</option>
<!--            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Member를 선택해 주세요.-->
<!--            </button>-->
            <option th:each="memberList : ${memberList}" th:value="${memberList.membername}" th:text="${memberList.membername}" >Member</option>
        </select>
    </label>
</div>
<div class="modal" style="

        width: 30%;
        height: 20%;

        border-style: groove;
        border-radius: 20px;
        background: linear-gradient(135deg, #02aab0, #00cdac);
  top: 28%;
  left: 35%;
 ;">
    <div id="modalid" class="modal_content">
        <form action="todolist.html" th:action="@{/passwordCheck}" th:object="${password}" method="post">
            <input style="margin-top: 13%; margin-left: 12%; border-radius: 20px; border: none;margin-left: 15%" type="text" id="membername" placeholder="이름" th:field="*{membername}">
            <input style="border-radius: 20px; border: none; margin-left: 5%" type="password" id="password" placeholder="비밀번호" th:field="*{password}"/>
            <br/>
            <br/>
            <button style="border-radius: 20px; border: none; margin-left: 43%; width: 90px" type="submit" id="completeBtn">Login</button>
        </form>
    </div>
</div>
</body>
</html>
<script>
    var value;
    function onEvent(id){
        value=id
        $(".modal").show()
    }
</script>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>